PORT=<PORT>
HOST=<HOST>

DB_NAME=<TEMPDB>
DB_PORT=<DB_PORT>
DB_PASS="postgres"
DB_USER="postgres"
DB_HOST="0.0.0.0"

REDIS_PORT=<REDIS_PORT>
REDIS_HOST="127.0.0.1"
REDIS_PASS=<REDIS_PASS>
REDIS_KEYPREFIX=""

LOG_LEVEL=<LOG_LEVEL>

SHA256_SECRET=<SECRET>

GMAIL_CLIENT_SECRET=<GMAIL_CLIENT_SECRET>
GMAIL_CLIENT=<GMAIL_CLIENT>


GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<SECRET>
GOOGLE_REDIRECT_URI=<GRU>
GOOGLE_AUTH_URI=<GAU>
GOOGLE_OAUTH_TOKEN=<GOT>
GOOGLE_USER_URI=<GOOGLE_USER_URI>
GOOGLE_JWKS_URI=https://www.googleapis.com/oauth2/v3/certs


GITHUB_CLIENT_ID=<GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<GITHUB_CLIENT_SEC>
GITHUB_REDIRECT_URI=http://localhost:3000/api/v1/auth/github/callback
GITHUB_AUTH_URI=https://github.com/login/oauth/authorize
GITHUB_OAUTH_TOKEN=https://github.com/login/oauth/access_token
GITHUB_USER_URI=https://api.github.com/user
